# db connection 
DB_HOST = 
DB_NAME = 
DB_USER = 
DB_PASS = 

# email send to user
EMAIL_USER = 
EMAIL_PASSWORD = 

CLIENT_URL=
SERVER_URL=

PORT=3001

# password hash rounding
SALT_ROUNDS = 

# jwt and verification token
VERIFY_TOKEN_EXPIRES_IN = 
JWT_TOKEN_EXPIRES_IN = 
JWT_SECRET = 

# google oauth login authentication
GOOGLE_CLIENT_ID = 
GOOGLE_CLIENT_SECRET = 
GOOGLE_CALLBACK_URL = 


# frontend react app env variables

REACT_APP_CLIENT_URL=
REACT_APP_SERVER_URL=