.top-navbar{
    width: 100%;
    height: 60px;
    padding: 16px 32px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    
    background-color: #F8F9FB;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
   
    z-index: 999;

    grid-column: 1/2;
    grid-row: 1/2;
}

@media screen and (min-width: 768px) {
    .top-navbar{
        grid-column: 2/3;
    grid-row: 1/2;
    }
}

.top-navbar-brand-logo{
    display: block;
}
@media screen and (min-width: 768px) {
    .top-navbar-brand-logo{
        display: none;
    }
}

.top-navbar-right-section{
    display: flex;
    align-items: center;
    gap: 24px;
}

.user-profile-avatar{
    border-radius: 9999px;
    height: 40px;
    width: 40px;
    border: 2px solid #E1E2E4; 
    
}
.top-navbar-icon{
    font-size: 24px;
    color: #464555;
    cursor: pointer;
    display: none;
}
@media screen and (min-width: 768px) {
    .top-navbar-icon{
        display: block;
    }
}

.top-navbar-left-section{
    display: none;
}
@media screen and (min-width: 768px) {
    .top-navbar-left-section{
        display: flex;
        align-items: center;
        gap:24px;
    }
}
.top-navbar-title{
    color: #3525CD;
    font-size: 20px;
    font-weight: var(--fw-semi-bold);
    font-family: var(--ff-primary);
}
.top-navbar-subtitle{
    background-color: #6CF8BB;
    border-radius: 9999px;
    padding: 4px 12px;

    color: #00714D;
    font-size: 12px;
    font-weight: var(--fw-semi-bold);
    font-family: var(--ff-primary);
    letter-spacing: 0.6px;
}