


.add-habit-pop-modal-container{
    background-color: rgba(46, 49, 50, 0.4);
    backdrop-filter: blur(4px);

    min-height: 100vh;
    width: 100%;
    overflow-y: auto;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: var(--z-modal-popup-layer);
    position: fixed;
    top: 0px;

    padding: 32px;
}

