.habit-empty-view-bg-container{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    min-height: calc(100vh - 60px - 60px);
    

    background-color: #F8F9FB;
    padding: 64px 32px;
}
@media screen and (min-width: 768px){
    .habit-empty-view-bg-container{
        min-height: calc(100vh - 60px);
    }
}

.habit-empty-view{
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.03);
    padding: 64px;
    max-width: 672px;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.habit-empty-view-add-habit-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.habit-empty-view-add-habit-section-image{
    border-radius: 8px;
    width: 230px;
    height: 150px;
    margin-bottom: 40px;
}
.habit-empty-view-add-habit-section-title{
    color: #191C1E;
    font-family: var(--ff-primary);
    font-size: 24px;
    font-weight: var(--fw-semi-bold);
    line-height: 30px;
    letter-spacing: -0.32px;
    margin-bottom: 12px;
}
@media screen and (min-width: 992px){
    .habit-empty-view-add-habit-section-title{
        font-size: 32px;
        line-height: 40px;
    }
}

.habit-empty-view-add-habit-section-description{
    color: #464555;
    font-family: var(--ff-primary);
    font-size: 14px;
    font-weight: var(--fw-regular);
    line-height: 22px;
    letter-spacing: 0px;
    margin-bottom: 40px;
}
@media screen and (min-width: 992px){
    .habit-empty-view-add-habit-section-description{
        font-size: 16px;
        line-height: 24px;
    }
}

.habit-empty-view-add-habit-section-button{
    background-color: #3525CD;
    border-radius: 9999px;
    padding: 12px 64px;
    margin-bottom: 40px;
    border: none;

    box-shadow: 0px 12px 40px rgba(53, 37, 205, 0.2);


    color: #ffffff;
    font-family: var(--ff-primary);
    font-size: 14px;
    font-weight: var(--fw-semi-bold);
    line-height: 22px;
    letter-spacing: 0px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;

    cursor: pointer;
}
@media screen and (min-width: 992px){
    .habit-empty-view-add-habit-section-button{
        font-size: 16px;
        line-height: 24px;
    }
}


.empty-view-add-habit-section-button-icon{
    height: 14px;
    width: 14px;
}



.habit-empty-view-suggestion-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    width: 100%;
    padding-top: 24px;
    gap: 24px;

    border-top: 1px solid #E1E2E4;
}
.habit-empty-view-suggestion-section-title{
    color: #777587;
    font-family: var(--ff-primary);
    font-size: 12px;
    font-weight: var(--fw-semi-bold);
    line-height: 16px;
    letter-spacing: 0.6px;
}
.habit-empty-view-suggestion-section-ul-list{
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
}