.login-page-container {
    padding: 40px 32px;
    background-color: #F8F9FB;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-page-content {
    max-width: 384px;
    width: 100%;
    
}

.login-welcome-message-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-page-logo {
    height: 24px;
    width: 24px;
    margin-bottom: 16px;
}

 /* Semi Bold */
/* .heading {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.6px;
} */

.login-page-heading {
    width: 181px;
    color: #191C1E;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 600;/* Semi Bold */
    padding-bottom: 8px;
}

.login-page-description {
    width: 181px;
    color: #464555;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400; /* Regular */

}

.login-options-container {
    width:100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 32px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.03);
    border-radius: 24px;
    padding: 24px;
}

.login-options-container:hover {
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.06);
}

.login-form{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 16px;
}

.form-input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 12px;
}
.form-label{
    color: #464555;
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 600; 
    letter-spacing: 0.6px;
}

.form-input {
    padding: 14px 0px;
    border: none;
    border-bottom: 2px solid #D9D9D9;
    

    color: #C7C4D8;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400; 
    display:flex;
    align-items: center;
}
.form-input:focus {
    outline: none;
    border-bottom: 2px solid #191C1E;
}

.password-label-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.forgot-password-link {
    /* color: #464555;
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 600; 
    letter-spacing: 0.6px;
    text-decoration: none; */

    color: #3525CD;
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
}

.login-button{
    padding: 24px 0px;
    background: linear-gradient(to right, #4F46E5, #3525CD);
    border: none;
    border-radius: 12px;

    color: #FFFFFF;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    outline: none;
}

.signup-social-container {
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}
.signup-text {
    /* color: #464555;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400;  */

    color: #464555;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400; 
}

.signup-link {
    color: #3525CD;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
}
.social-login-container {
    display: flex;
    gap: 16px;
}
.social-login-options {
    display: flex;
    gap: 16px;
    margin-top: 16px;
}
.social-login-button {
    /* display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    background-color: #FFFFFF;
    cursor: pointer; */
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    background-color: #FFFFFF;
    cursor: pointer;
    
}
.social-login-btn-content {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px 16px;
    
}
.social-login-icon {
    height: 16px;
    width: 16px;
}

.login-footer-logo-content {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}
.login-content-footer-logo {
    height: 12px;
    width: 100px;
}
.login-content-footer-text {
    color: #464555;
    font-family: "Inter", sans-serif;
    font-size: 10px;
    font-weight: 400; 
    letter-spacing: 1px;
    padding-top: 8px;
}