.login-page-container {
    padding: 40px 32px;
    background-color: #F8F9FB;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-page-content {
    max-width: 384px;
    width: 100%;
    
}

.login-welcome-message-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-page-logo {
    height: 24px;
    width: 24px;
    margin-bottom: 16px;
}

 /* Semi Bold */
/* .heading {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.6px;
} */

.login-page-heading {
    width: 181px;
    color: #191C1E;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 600;/* Semi Bold */
    padding-bottom: 8px;
}

.login-page-description {
    width: 181px;
    color: #464555;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400; /* Regular */

}



.login-footer-logo-content {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}
.login-content-footer-logo {
    height: 12px;
    width: 100px;
}
.login-content-footer-text {
    color: #464555;
    font-family: "Inter", sans-serif;
    font-size: 10px;
    font-weight: 400; 
    letter-spacing: 1px;
    padding-top: 8px;
}