.home-page{
    display: grid;
    grid-template-rows: 60px 1fr 60px;
    grid-template-columns: 1fr;
    height: 100vh;
    
}
@media screen and (min-width: 768px) {
    .home-page{
        display: grid;
        grid-template-columns: 240px 1fr;
        grid-template-rows: 60px 1fr;
    }
}




.main-content{
    background-color: #F8F9FB;
    overflow: auto;
    padding: 40px;
    
}